[Unit]
Description=Discord Dynamic Status for COSMIC
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/discord-monitor-ddsc.sh ddsc
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
